.source-code-font {
    font-family: 'Source Code Pro', monospace;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

/* Default body font */
body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
